.custom-select {
  width: 100%;
  height: auto;
  position: relative;
  background: var(--bg-white);
  box-shadow: var(--light-shadow);
  border-radius: 4px;
}

.custom-select .select {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  position: relative;
  padding: 5px;
}

.custom-select .select small {
  color: var(--text-darkgrey);
  font-size: 0.9rem;
  font-weight: normal;
  width: auto;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  pointer-events: none;
  background: transparent;
  padding: 0;
}

.custom-select .select span {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  right: 5px;
  transform: translateY(-50%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #27364a;
  pointer-events: none;
  font-weight: 700;
}

.custom-select .select span:focus {
  outline: 1px solid #e9edf0;
}

.custom-select .options {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-top: none;
  border-radius: 0 0 5px 5px;
  height: auto;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 1000;
}

.custom-select .options::-webkit-scrollbar {
  border-radius: 8px;
  width: 5px;
}
.custom-select .options::-webkit-scrollbar-button {
  display: none;
}
.custom-select .options::-webkit-scrollbar-corner {
  border-radius: 8px;
}
.custom-select .options::-webkit-scrollbar-thumb {
  background-color: #00000050;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-width: 5px;
}
.custom-select .options::-webkit-scrollbar-track {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin: 10px;
}

.custom-select .options .option {
  padding: 5px;
  height: 35px;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.5);
  transition: linear 0.2s;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.custom-select .options .option:hover {
  color: #fff;
  background: #c1d9eaff;
}
