.industrial-cleaning {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.industrial-cleaning .industrial-cleaning-content {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.industrial-cleaning .industrial-cleaning-content h2 {
  color: var(--text-orange);
  text-transform: uppercase;
}

.industrial-cleaning .industrial-cleaning-content .industrial-cleaning-card {
  padding: 1rem;
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.industrial-cleaning .industrial-cleaning-content .industrial-cleaning-card p {
  font-weight: 400;
  font-size: 0.9rem;
}

.industrial-cleaning .industrial-cleaning-content ul {
  padding: 1rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.industrial-cleaning .industrial-cleaning-content li {
  font-weight: 400;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.industrial-cleaning .industrial-cleaning-content li span {
  display: flex;
  align-items: center;
  color: var(--bg-orange);
  height: auto;
  font-size: 1rem;
}

.industrial-cleaning .industrial-cleaning-img {
  background: url(../../assets/pictures/img7.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 1050px) {
  .industrial-cleaning .industrial-cleaning-content {
    padding: 4rem 1rem;
  }
}
@media (max-width: 950px) {
  .industrial-cleaning .industrial-cleaning-content {
    padding: 2rem 1rem;
  }
}
@media (max-width: 950px) {
  .industrial-cleaning {
    display: flex;
    flex-direction: column-reverse;
  }

  .industrial-cleaning .industrial-cleaning-img {
    height: 400px;
  }
}
