.industrial-cleaning-infos {
  padding: 4rem;
}

.industrial-cleaning-infos h2 {
  color: var(--text-orange);
  text-transform: uppercase;
  padding-bottom: 0.5em;
}

.industrial-cleaning-infos .industrial-cleaning-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  height: 550px;
}

.industrial-cleaning-infos .industrial-cleaning-infos-img {
  width: 90%;
  height: 550px;
}

.industrial-cleaning-infos .industrial-cleaning-infos-img img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  object-position: center center;
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.industrial-cleaning-infos .industrial-cleaning-infos-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.industrial-cleaning-infos .industrial-cleaning-infos-content h3 {
  font-size: 1.2rem;
  color: var(--text-orange);
}

.industrial-cleaning-infos .industrial-cleaning-infos-content p {
  font-size: 1rem;
  color: var(--text-darkgrey);
}

.industrial-cleaning-infos .industrial-cleaning-infos-content ul {
  list-style-type: none;
}
.industrial-cleaning-infos .industrial-cleaning-infos-content ul li {
  display: flex;
  gap: 0.5rem;
}

.industrial-cleaning-infos .industrial-cleaning-infos-content ul li span > * {
  color: var(--bg-nice-orange);
}

@media (max-width: 1230px) {
  .industrial-cleaning-infos {
    padding: 2rem;
  }
}
@media (max-width: 1180px) {
  .industrial-cleaning-infos .industrial-cleaning-container {
    height: auto;
  }
}

@media (max-width: 850px) {
  .industrial-cleaning-infos {
    padding: 1rem;
  }
}

@media (max-width: 800px) {
  .industrial-cleaning-infos .industrial-cleaning-container,
  .industrial-cleaning-infos {
    height: auto;
  }
  .industrial-cleaning-infos .industrial-cleaning-container {
    grid-template-columns: 1fr;
  }
}
