.marketplace {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  position: relative;
  height: 120vh;
  background: var(--bg-light);
}

.marketplace .marketplace-list-product {
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  min-height: 400px;
  height: auto;
  background: rgba(3, 3, 3, 0.274);
  backdrop-filter: blur(4px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem 4rem;
  gap: 2rem;
  overflow: hidden;
}

.marketplace .marketplace-content {
  padding: 4rem;
  padding-top: 2rem;
}

.marketplace .marketplace-content h2 {
  color: var(--text-orange);
}
.marketplace .marketplace-content p {
  width: 80%;
}

.marketplace .marketplace-img {
  background: url("../../assets/pictures/img16.jpg");
  background-position: center center;
  background-clip: cover;
  background-attachment: fixed;
}
