.slider {
  width: 100vw;
  height: calc(100vh - 7rem);
  position: relative;
  min-height: 500px;
}

.slider__contact__us {
  background-color: var(--text-orange);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 45px;
  margin-top: 10px;
  border: 1px solid var(--text-orange);
  transition: linear 0.4s;
}

.slider__contact__us:hover {
  background-color: var(--white);
  color: var(--text-orange);
}

.slider .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  display: flex;
  width: 800px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
  background-color: var(--bg-white);
  z-index: 2;
  text-align: center;
  border-radius: 10px;
}

.slider .content h1 {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--text-orange);
}

.slider .content p {
  font-weight: 600;
}

.slider .slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.swiper-slide img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: #000;
}

.swiper-slide .swiper-button-prev {
  background: #000 !important;
}

@media (max-width: 950px) {
  .slider .content {
    padding: 2rem;
    width: 750px;
  }
}

@media (max-width: 850px) {
  .slider .content {
    padding: 2rem;
  }
}

@media (max-width: 800px) {
  .slider .content {
    width: 700px;
  }
}

@media (max-width: 750px) {
  .slider .content {
    width: 600px;
  }
}

@media (max-width: 650px) {
  .slider .content {
    width: 550px;
  }
  .slider {
    height: calc(100vh - 5rem);
  }
}

@media (max-width: 600px) {
  .slider .content {
    width: 400px;
  }
}

@media (max-width: 500px) {
  .slider .content h1 {
    font-size: 1.8rem;
  }

  .slider .content p {
    font-size: 0.9rem;
    font-weight: 600;
  }
}
@media (max-width: 450px) {
  .slider .content {
    width: 300px;
  }

  .slider .content h1 {
    font-size: 1.5rem;
  }

  .slider .content p {
    font-size: 0.9rem;
    font-weight: 600;
  }
}
@media (max-width: 350px) {
  .slider .content {
    min-width: 250px;
    width: auto;
  }

  .slider .content h1 {
    font-size: 1.2rem;
  }

  .slider .content p {
    font-size: 0.8rem;
    font-weight: 600;
  }
}
