.story {
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  background: var(--bg-light);
  height: auto;
}

.story .story-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.story .story-content h2 {
  color: var(--text-orange);
  text-transform: uppercase;
}

.story .story-content h3 {
  text-transform: uppercase;
}

.story .story-content .story-text-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-right: 2rem;
}

.story .story-content .story-text-content p {
  font-weight: 400;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
}

.story .story-content .story-text-content p span {
  font-size: 1.1rem;
  font-weight: 700;
}

.story .story-img {
  background: url("../../assets/about/history.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

@media (max-width: 1100px) {
  .story {
    padding: 4rem 2rem;
    gap: 2rem;
  }
}
@media (max-width: 950px) {
  .story {
    padding: 4rem 1rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
@media (max-width: 850px) {
  .story {
    grid-template-columns: 1fr;
  }

  .story .story-img {
    height: 400px;
  }
}
