.product {
  background: var(--bg-light);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 4rem;
}

.product h2 {
  color: var(--text-orange);
  text-transform: uppercase;
}

.product .product-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
