.product {
  background: var(--bg-light);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 4rem;
}

.product h2 {
  color: var(--text-orange);
  text-transform: uppercase;
}

.product .product-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media (max-width: 1300px) {
  .product {
    padding: 2rem;
  }
}

@media (max-width: 1000px) {
  .product {
    padding: 1rem;
  }

  .product .product-container {
    gap: 1rem;
  }
}

@media (max-width: 850px) {
  .product .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .product .product-container {
    grid-template-columns: 1fr;
  }
}
