.modal-normal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(99, 97, 97, 0.205);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000;
  overflow-y: auto;

  padding: 2rem;
}

.modal-normal .modal-container {
  padding: 1rem;
  border-radius: 5px;
  max-width: 700px;
  width: 100%;
  background: var(--bg-white);
}

.modal-normal .modal-container .modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.modal-normal .modal-container .modal-header h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--bg-nice-orange);
  text-transform: uppercase;
}
.modal-normal .modal-container .modal-header span {
  cursor: pointer;
}

.modal-normal .modal-container .modal-body {
  display: flex;
  flex-direction: column;
}

.modal-normal .modal-container .modal-body h2 {
  color: var(--bg-nice-orange);
  text-transform: uppercase;
}

.modal-normal .modal-container .modal-body p {
  font-size: 0.9rem;
  color: var(--text-darkgrey);
}

.modal-normal .modal-container .modal-body form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-normal .modal-container .modal-body .form-group {
  display: flex;
  gap: 0.7rem;
  width: 100%;
}

.modal-normal .modal-container .modal-body input {
  height: 45px;
  border-radius: 5px;
  background: var(-bg-white);
  border: 1px solid var(--bg-white);
  box-shadow: var(--shadow);
  padding: 0.5rem;
  width: 100%;
}

.modal-normal .modal-container .modal-body button {
  height: 40px;
  border-radius: 5px;
  background: var(--bg-nice-orange);
  border: 1px solid var(--bg-nice-orange);
  box-shadow: var(--shadow);
  max-width: 100%;
  cursor: pointer;
  font-weight: 500;
  color: var(--bg-white);
  transition: linear 0.4s;
}

.modal-normal .modal-container .modal-body button:hover {
  background: var(--bg-white);
  color: var(--bg-nice-orange);
}
