.section-flexible {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-flexible .section-flexible-top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 400px;
}

.section-flexible .section-flexible-top-left {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  padding: 2rem;
}
.section-flexible .section-flexible-top-left h2 {
  color: var(--text-orange);
}
.section-flexible .section-flexible-top-left p {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--text-darkgrey);
}

.section-flexible .section-flexible-top-right {
  padding: 2rem;
}

.section-flexible .section-flexible-top-right img {
  width: 100%;
  height: 400px;
  object-fit: contain;
  object-position: center center;
  border-radius: 5px;
}

.section-flexible .section-flexible-bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem;
  gap: 2rem;
  height: auto;
}

.section-flexible .section-flexible-bottom .card {
  display: grid;
  height: auto;
  row-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 200px auto;
}

.section-flexible .section-flexible-bottom .card-img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
}

.section-flexible .section-flexible-bottom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.section-flexible .section-flexible-bottom .card-content {
  width: 100%;
  height: 100%;
  background: var(--bg-light-grey);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  padding: 1rem;
}

.section-flexible .section-flexible-bottom .card-content p {
  color: var(--text-darkgrey);
  font-size: 0.9rem;
}

@media (max-width: 1350px) {
  .section-flexible .section-flexible-top-left {
    padding: 1rem;
  }

  .section-flexible .section-flexible-top-right {
    padding: 1rem;
  }
  .section-flexible .section-flexible-bottom {
    gap: 1rem;
    padding: 1rem;
  }
}

@media (max-width: 1230px) {
  .section-flexible .section-flexible-bottom {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 950px) {
  .section-flexible .section-flexible-bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 650px) {
  .section-flexible .section-flexible-top {
    grid-template-columns: 1fr;
    height: auto;
  }

  .section-flexible .section-flexible-bottom {
    grid-template-columns: repeat(1, 1fr);
  }
}
