.section-flexible {
  background: var(--bg-light);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}

.section-flexible .section-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.section-flexible .section-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem 2rem;
}

.section-flexible .section-content > h2 {
  color: var(--text-orange);
  text-transform: uppercase;
}

.section-flexible .section-content h3 {
  color: var(--text-darkgrey);
}

.section-flexible .section-content p {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--text-darkgrey);
}

.section-flexible .section-content .flexible-card {
  background: var(--bg-white);
  box-shadow: var(--shadow);
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
