.work {
  /* background: var(--bg-dark); */
  background: var(--bg-orange3);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  width: 100%;
  padding-bottom: 75px;
  height: 550px;
}

.work .work-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 4rem;
}

.work .work-content h2 {
  color: var(--white);
  text-transform: uppercase;
}

.work .work-content h3 {
  color: var(--text-lightgrey);
}

.work .work-content p {
  color: var(--white);
  font-size: 0.9rem;
}

.work .work-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.work .work-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-attachment: fixed;
}

.work .work-about {
  position: absolute;
  bottom: -75px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 2rem;
  justify-content: center;
}

.work .work-about .card-about {
  background: var(--bg-white);
  height: 150px;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  box-shadow: var(--light-shadow);
}

.work .work-about .card-about span {
  background-color: var(--text-orange);
  font-size: 2rem;
  padding: 1.2rem;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work .work-about .card-about span > * {
  color: var(--colo-blue);
}

.work .work-about .card-about span img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
  color: var(--white);
  font-weight: 700;
}

.work .work-about .card-about .card-about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.work .work-about .card-about .card-about-content h3 {
  font-size: 1.2rem;
  color: var(--color-blue);
}

.work .work-about .card-about .card-about-content p {
  font-size: 0.9rem;
  color: var(--text-darkgrey);
}

@media (max-width: 1150px) {
  .work .work-about {
    padding: 1rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .work .work-content {
    padding: 2rem;
  }
}
@media (max-width: 900px) {
  .work {
    height: 570px;
  }
}

@media (max-width: 850px) {
  .work {
    display: grid;
    grid-template-areas:
      "a b"
      "c c";
    height: auto;
  }

  .work .work-content {
    grid-area: a;
    padding: 1rem;
  }

  .work .work-img {
    grid-area: b;
  }

  .work .work-about {
    /* background: var(--bg-white); */
    grid-area: c;
    position: static;
    grid-template-columns: repeat(3, 1fr);
    border: none;
    background: var(--bg-light);
  }
}

@media (max-width: 650px) {
  .work {
    grid-template-columns: 1fr;
    grid-template-areas:
      "a"
      "b"
      "c";
  }

  .work .work-content {
    grid-area: a;
  }

  .work .work-img {
    grid-area: b;
    height: 250px;
  }

  .work .work-about {
    background: var(--bg-white);
    grid-template-columns: repeat(2, 1fr);
    grid-area: c;
  }
}

@media (max-width: 650px) {
  .work .work-about {
    grid-template-columns: 1fr;
  }
}
