.banner {
  width: 100vw;
  height: 250px;
  background: var(--bg-nice-orange);
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h2 {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  color: var(--text-orange);
}

@media (max-width: 850px) {
  .banner .banner-content {
    width: 60%;
  }
}

@media (max-width: 650px) {
  .banner .banner-content {
    width: 80%;
  }
}

@media (max-width: 650px) {
  .banner .banner-content {
    width: 90%;
  }
}
